	<div id="loading" class="modal fade in" style="display: none;">
	    <img class="image" src="<%=baseurl%>/loading.png" alt="" height="50">
	</div>
	<script type="text/javascript" src="<%=baseurl%>/assets/carousel/js/popper.min.js"></script>
	<script type="text/javascript" src="<%=baseurl%>/assets/carousel/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<%=baseurl%>/assets/carousel/js/mdb.min.js"></script>
	<script type="text/javascript" src="<%=baseurl%>/assets/plugins/parsleyjs/parsley.min.js"></script>
	<script type="text/javascript" src="<%=baseurl%>/assets/js/macy.js"></script>
	<script type="text/javascript" src="<%=baseurl%>/assets/script.js"></script>
	</body>
</html>
